.about{
    width: 100%;
    padding: 5% 10% 0;
}
.about__info{
    width: 100%;
}
.about__skills{
    width: 100%;
}
.about__title,
.about__skills__title{
    text-align: center;
    padding: 2.5% 0;
}
.about__title h2,
.about__skills__title h2{
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
}
.about__text{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.about__text p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.about__skills__list{
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 2.5% 0;
}
.skill{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.skill img{
    width: 25%;
    height: 100%;
    aspect-ratio: 4 / 3;
    object-fit: contain;
}