footer{
    width: 100%;
    height: 100%;
    margin-top: 5%;
}
html[data-theme='light'] .footer__links{
    background-color: var(--bg-1);
}
.footer__links{
    width: 100%;
    padding: 2.5% 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.footer__links img{
    aspect-ratio: 4/3;
    object-fit: contain;
}
.footer__bottom{
    width: 100%;
    padding: 5% 0 1%;
    text-align: center;
}
.footer__bottom p,
.footer__bottom a{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: white;
}
.footer__bottom a{
    border-bottom: 2px white solid;
}
@media (max-width: 650px) {
    .footer__links img{
        width: 35px;
        height: 35px;
    }
}